.card {
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 1.5em;
  padding: 0.6em;
  background: hsla(0, 0%, 99.6%, 0.5490196078431373);
  color: #231f20;
  width: 350px;
  border-radius: 15px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 2px 1px -1px rgb(0 0 0 / 12%);
}

.video {
  margin-bottom: 20px;
}

.text {
  padding: 5px;
  font-size: 18px;
}

.userInfoCard {
  padding: 10px;
}

.userInfo {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 15px;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  margin-right: 20px;
}

.userName {
  font-size: 30px;
  font-weight: 700;
  color: rgb(32, 22, 88);
}

.tags {
  margin-bottom: 15px;
}

.comments {
  margin-bottom: 10px;
}

.commentsTitle {
  font-weight: 700;
}

.likesTitle {
  font-weight: 700;
}
